.footer-child,
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child14 {
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 210px;
  height: 46px;
}
.english-uk {
  position: absolute;
  top: 14px;
  left: 43px;
  font-weight: 600;
}
.ant-designcaret-down-outlined-icon {
  position: absolute;
  top: 16px;
  left: 181px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.image-26-icon {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 20px;
  height: 13.2px;
  object-fit: cover;
}
.group-child15,
.rectangle-parent7 {
  position: absolute;
  top: 256px;
  left: 135px;
  width: 210px;
  height: 46px;
}
.group-child15 {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
}
.us-dollar {
  position: absolute;
  top: 14px;
  left: 20px;
  font-weight: 600;
}
.ant-designcaret-down-outlined-icon1 {
  position: absolute;
  top: 16px;
  left: 181px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.footer,
.rectangle-parent8 {
  position: absolute;
  top: 343px;
  left: 135px;
  width: 210px;
  height: 46px;
}
.footer {
  height: 14.1%;
  width: 103.13%;
  top: 87.74%;
  right: -1.53%;
  bottom: -1.84%;
  left: -1.6%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  font-family: var(--font-mulish);
}
