.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us1,
.accommodations1,
.contact-us1,
.home1 {
  position: absolute;
  height: 40%;
  width: 8.42%;
  top: 28%;
  left: 0;
  display: inline-block;
}
.about-us1,
.accommodations1,
.contact-us1 {
  width: 24.54%;
  top: 30%;
  left: 15.57%;
}
.about-us1,
.contact-us1 {
  height: 34%;
  width: 12.64%;
  left: 45.42%;
}
.contact-us1 {
  width: 15.38%;
  left: 65.2%;
}
.yellow1 {
  position: absolute;
  height: 100%;
  width: 14.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85.16%;
  border-radius: var(--br-8xs);
  background-color: var(--color-goldenrod);
}
.sign-in6 {
  position: absolute;
  height: 36%;
  width: 9.71%;
  top: 32%;
  left: 87.73%;
  display: inline-block;
}
.menu2 {
  position: absolute;
  height: 63.29%;
  width: 37.92%;
  top: 20.25%;
  right: 3.33%;
  bottom: 16.46%;
  left: 58.75%;
}
.logo-color-1-icon1 {
  position: absolute;
  top: 2px;
  left: 26px;
  width: 253px;
  height: 75px;
  object-fit: cover;
}
.header1 {
  width: 1440px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  height: 79px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-inter);
}
