.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 10px 30px rgba(123, 188, 176, 0.5);
  width: 1000px;
  height: 90px;
}
.group-item {
  border-radius: var(--br-21xl);
  background-color: var(--color-gold-100);
  box-shadow: 0 8px 20px rgba(255, 218, 50, 0.5);
  width: 150px;
  height: 54px;
}
.search {
  position: absolute;
  top: 16px;
  left: 48px;
  line-height: 22px;
  font-weight: 800;
}
.rectangle-group {
  position: absolute;
  top: 18px;
  left: 830px;
  width: 150px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--main-dark);
}
.date,
.pick-a-date {
  position: absolute;
  top: 23px;
  left: 0;
  line-height: 25px;
  font-weight: 600;
}
.date {
  top: 0;
  font-size: var(--font-size-mini);
  font-weight: 800;
  color: var(--color-cadetblue);
}
.group-wrapper,
.pick-a-date-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 48px;
}
.group-wrapper {
  top: 20px;
  left: 634.4px;
}
.guests,
.how-many-guests {
  position: absolute;
  top: 23px;
  left: 0;
  line-height: 25px;
  font-weight: 600;
}
.guests {
  top: 0;
  font-size: var(--font-size-mini);
  font-weight: 800;
  color: var(--color-cadetblue);
}
.group-container,
.how-many-guests-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 48px;
}
.group-container {
  top: 20px;
  left: 401.8px;
}
.location,
.search-for-a {
  position: absolute;
  top: 0;
  left: 0.4px;
  line-height: 25px;
  font-weight: 800;
}
.search-for-a {
  top: 23px;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--dark-60);
}
.group-frame,
.location-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 164px;
  height: 48px;
}
.group-frame {
  top: 20px;
  left: 42.6px;
  font-size: var(--font-size-mini);
  color: var(--color-cadetblue);
}
.group-inner,
.rectangle-div {
  position: absolute;
  top: 35px;
  left: 349px;
  background-color: var(--dark-10-border);
  width: 1px;
  height: 20px;
}
.rectangle-div {
  left: 589px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 90px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--dark-60);
  font-family: var(--font-mulish);
}
